env

assignment_1_v2.ipynb
assignment_1.ipynb
final_assignment.ipynb
week_7_assignment_1.ipynb


happyscore_income.csv
kc_house_data.csv
Mall_Customers.csv
Online Retail.xlsx
student-mat.csv
student-por.csv